<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Color</string>
	<key>colors</key>
	<array>
		<string>#FFF</string>
<string>#CCC</string>
<string>#999</string>
<string>#666</string>
<string>#333</string>
<string>#000</string>
<string>#303</string>
<string>#300</string>
<string>#330</string>
<string>#030</string>
<string>#033</string>
<string>#003</string>
<string>#606</string>
<string>#603</string>
<string>#600</string>
<string>#630</string>
<string>#660</string>
<string>#360</string>
<string>#060</string>
<string>#063</string>
<string>#066</string>
<string>#036</string>
<string>#006</string>
<string>#306</string>
<string>#909</string>
<string>#906</string>
<string>#903</string>
<string>#900</string>
<string>#930</string>
<string>#960</string>
<string>#990</string>
<string>#690</string>
<string>#390</string>
<string>#090</string>
<string>#093</string>
<string>#096</string>
<string>#099</string>
<string>#069</string>
<string>#039</string>
<string>#009</string>
<string>#309</string>
<string>#609</string>
<string>#C0C</string>
<string>#C09</string>
<string>#C06</string>
<string>#C03</string>
<string>#C00</string>
<string>#C30</string>
<string>#C60</string>
<string>#C90</string>
<string>#CC0</string>
<string>#9C0</string>
<string>#6C0</string>
<string>#3C0</string>
<string>#0C0</string>
<string>#0C3</string>
<string>#0C6</string>
<string>#0C9</string>
<string>#0CC</string>
<string>#09C</string>
<string>#06C</string>
<string>#03C</string>
<string>#00C</string>
<string>#30C</string>
<string>#60C</string>
<string>#90C</string>
<string>#F0F</string>
<string>#F0C</string>
<string>#F09</string>
<string>#F06</string>
<string>#F03</string>
<string>#F00</string>
<string>#F30</string>
<string>#F60</string>
<string>#F90</string>
<string>#FC0</string>
<string>#FF0</string>
<string>#CF0</string>
<string>#9F0</string>
<string>#6F0</string>
<string>#3F0</string>
<string>#0F0</string>
<string>#0F3</string>
<string>#0F6</string>
<string>#0F9</string>
<string>#0FC</string>
<string>#0FF</string>
<string>#0CF</string>
<string>#09F</string>
<string>#06F</string>
<string>#03F</string>
<string>#00F</string>
<string>#30F</string>
<string>#60F</string>
<string>#90F</string>
<string>#C0F</string>
<string>#636</string>
<string>#633</string>
<string>#663</string>
<string>#363</string>
<string>#366</string>
<string>#336</string>
<string>#939</string>
<string>#936</string>
<string>#933</string>
<string>#963</string>
<string>#993</string>
<string>#693</string>
<string>#393</string>
<string>#396</string>
<string>#399</string>
<string>#369</string>
<string>#339</string>
<string>#639</string>
<string>#C3C</string>
<string>#C39</string>
<string>#C36</string>
<string>#C33</string>
<string>#C63</string>
<string>#C93</string>
<string>#CC3</string>
<string>#9C3</string>
<string>#6C3</string>
<string>#3C3</string>
<string>#3C6</string>
<string>#3C9</string>
<string>#3CC</string>
<string>#39C</string>
<string>#36C</string>
<string>#33C</string>
<string>#63C</string>
<string>#93C</string>
<string>#F3F</string>
<string>#F3C</string>
<string>#F39</string>
<string>#F36</string>
<string>#F33</string>
<string>#F63</string>
<string>#F93</string>
<string>#FC3</string>
<string>#FF3</string>
<string>#CF3</string>
<string>#9F3</string>
<string>#6F3</string>
<string>#3F3</string>
<string>#3F6</string>
<string>#3F9</string>
<string>#3FC</string>
<string>#3FF</string>
<string>#3CF</string>
<string>#39F</string>
<string>#36F</string>
<string>#33F</string>
<string>#63F</string>
<string>#93F</string>
<string>#C3F</string>
<string>#969</string>
<string>#966</string>
<string>#996</string>
<string>#696</string>
<string>#699</string>
<string>#669</string>
<string>#C6C</string>
<string>#C69</string>
<string>#C66</string>
<string>#C96</string>
<string>#CC6</string>
<string>#9C6</string>
<string>#6C6</string>
<string>#6C9</string>
<string>#6CC</string>
<string>#69C</string>
<string>#66C</string>
<string>#96C</string>
<string>#F6F</string>
<string>#F6C</string>
<string>#F69</string>
<string>#F66</string>
<string>#F96</string>
<string>#FC6</string>
<string>#FF6</string>
<string>#CF6</string>
<string>#9F6</string>
<string>#6F6</string>
<string>#6F9</string>
<string>#6FC</string>
<string>#6FF</string>
<string>#6CF</string>
<string>#69F</string>
<string>#66F</string>
<string>#96F</string>
<string>#C6F</string>
<string>#C9C</string>
<string>#C99</string>
<string>#CC9</string>
<string>#9C9</string>
<string>#9CC</string>
<string>#99C</string>
<string>#F9F</string>
<string>#F9C</string>
<string>#F99</string>
<string>#FC9</string>
<string>#FF9</string>
<string>#CF9</string>
<string>#9F9</string>
<string>#9FC</string>
<string>#9FF</string>
<string>#9CF</string>
<string>#99F</string>
<string>#C9F</string>
<string>#FCF</string>
<string>#FCC</string>
<string>#FFC</string>
<string>#CFC</string>
<string>#CFF</string>
<string>#CCF</string>
	</array>
</dict>
</plist>
